

<form asp-action="AddRequest" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Phone</label>
        <input asp-for="Phone" />
    </div>
    <div>
        <label>Message</label>
        <input asp-for="Message" />
    </div>

    <button class="btn btn-danger">Kayıt Yap</button>
</form>