
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h2>Teşekkürler @Model.Name</h2>
    <h4>Kursumuzu tercih ettiğiniz için teşekkürler </h4>

   
</body>
</html>
